<style type="text/css">
h1 {
color:#ffffff;
background-color:#525252;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 36px;
text-align: center;
}
body {
text-align: center;
color:#ffffff;
background-color:#525252;
font-family: Arial, "Lucida Console", sans-serif;
}
table {
color:#ffffff;
background-color:#525252;
font-family: Arial, "Lucida Console", sans-serif;
}
hr {
color:#ffffff;
background-color:#525252;
}
</style>